apiVersion: v1
kind: ConfigMap
metadata:
  name: dagster-instance
  namespace: trading
  labels:
    app: dagster
    app.kubernetes.io/part-of: algo-trading-system
data:
  dagster.yaml: |
    scheduler:
      module: dagster.core.scheduler
      class: DagsterDaemonScheduler

    run_coordinator:
      module: dagster.core.run_coordinator
      class: QueuedRunCoordinator

    run_launcher:
      module: dagster_k8s
      class: K8sRunLauncher
      config:
        service_account_name: dagster
        job_image: docker.io/sudhan03/algo-trading:portfolio-tracker-latest
        image_pull_policy: Always
        namespace: trading
        env_config_maps:
          - trading-config
        env_secrets:
          - trading-secrets
    
    storage:
      postgres:
        postgres_url:
          env: DB_CONN_STRING
